{% extends 'base.html.twig' %}

{% block title %}
    Welcome on this External link visit couter
{% endblock %}

{% block body %}
    
    <!-- Search bar -->
    <div class="md-form mt-5 search-bar-container">
      <input class="search-bar" type="text" placeholder="Search" aria-label="Search">
    </div>

    {% for link in links %}

    <article onclick='document.location.href="/watched_link/{{link.newUri}}"'>
        <h3>{{link.title}}</h3>
        <p>Short URL: {{app.request.schemeAndHttpHost}}/{{link.newUri}}</p>
        <p>Description</p>
        <p>{{link.description}}</p>
        <p>Source URL: <a href="{{ link.srcUrl }}">{{ link.srcUrl }}</a></p>
        <p>Destination URL: <a href="{{ link.destUrl }}">{{ link.destUrl }}</a></p>
    </article>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('watchedLink') }}
{% endblock %}
