{% extends 'base.html.twig' %}

{% block title %}
    See link
{% endblock %}

{% block body %}
    <article>
        <h2>{{ WatchedLink.title }}</h2>
		<div class="ml-3">
			<p>{{ WatchedLink.description}} </p>
			<p>Source URL: <a href="{{ WatchedLink.srcUrl }}">{{ WatchedLink.SrcUrl }}</a></p>
			<p>Destination URL: <a href="{{ WatchedLink.destUrl }}">{{ WatchedLink.destUrl }}</a> </p>
			<p>Short URL: <span class="click-to-copy"  data-toggle="tooltip" data-placement="top" title="Click to Copy!">{{app.request.schemeAndHttpHost}}/{{WatchedLink.newUri}}</span></p>
			<h2>Chart:</h2>
		</div>
		<div class="chart-container" style="position: relative; width:95%; margin-left:auto; margin-right:auto;">
			<canvas id="chart1"></canvas>
		</div>
		<br>
		<label for="start-date">From</label>
		<input type="date" id="start-date" class="form-control">
		<br>

		<label for="end-date">To</label>
		<input type="date" id="end-date" class="form-control">
		<br>

		<label for="scale">Scale</label>
		<select name="scale" id="scale" class="form-control">
			<option value="Y">Year</option>
			<option value="m" selected>Month</option>
			<option value="d">Day</option>
			<option value="H">Hour</option>
			<option value="i">Minute</option>
			<option value="s">Second</option>
		</select>
		<br>

		<label for="type">Chart type</label>
		<select id="type" class="form-control">
			<option value="line">Line</option>
			<option value="bar">Bar</option>
		</select>
		<br>

		<button id="update" class="form-control">Update</button>
		<br>

		<input type="hidden" name="watched-link-id" id="watched-link-id" value="{{ WatchedLink.id }}">


    </article>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('watchedLink/show') }}
{% endblock %}

